* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    line-height: 1.5;
}


body {
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0px;
}

h1 {
    color: blue;
    text-align: center;
    font-size: 45px;
}

.immagine{
    display:flex; margin-top: 2%;
}

#menu-principale li {
    display: inline;
    margin: 20px;
}

#menu-principale {
    text-align: center;
    margin-top:2%;
    
}

#menu-principale li {
    color: red;
}

#menu-principale ul {
    color: red;
    padding: 0px;
    position: relative;
    bottom: 9px;
}

.dimensione {
    width: 30px;
}

.allinea {
    /* float: left; */
    /* left:auto */
    position: absolute;
    width: 100px;
    height: auto;
}

p {
    text-align: left;
}

main {
    background: rgba(133, 133, 227, 0.577);
    text-align: center;
}

footer {
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

h2 {
    /* padding-top: 3%;
    padding-left: 4%; */
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

h3 {
    font-size: 30px;
}

.grid {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 2%;
    
}

.container {
    padding: 15px;
    max-width: 1300px;
    margin: 15px 0px auto;
    padding-bottom: 4%;
}

.wha {
    width: 20%;
    height: auto;
    position: fixed;
    bottom: 2%;
    right: 4%;
    display: none;
}

.col-33 {
    /* border: 8px solid rgb(240, 154, 154); */
    margin: 1%;
    background: rgba(116, 116, 251, 0.432);
    width: 33%;
    padding: 9px;
    border-radius: 20px;
    /* border-style: dotted; */
}
.res {
    width: 15%;
    height: auto;
    display:flex ;

}
.foto{
    width: 15%;
    height: 15%;
    display:flex ;
    border-radius:15%; margin-top: 80px; margin-right: 3%;
}

section{
    background: rgba(116, 116, 251, 0.3);
}




/* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE *//* CELLULARE */
/* CELLULARE */
/* CELLULARE */
/* CELLULARE */
/* CELLULARE */
/* CELLULARE */
/* CELLULARE */
@media (max-width: 768px) {


    *{color: #eee;}
    
    .col-33 {
      /* border: 8px solid rgb(240, 154, 154); */
    margin-top: 4%;
    background: rgba(1, 1, 250, 0.086);
    width: 100%;
    padding: 9px;
    border-radius: 20px;
    /* border-style:double; */
    }

    #menu-principale {
        text-align: center;
        /* margin-top:2%; */
        width: 70%;
        margin-left: 15%;
        /* background-color: blueviolet; */
        /* margin-top: 0px; */
    }
        #menu-principale ul {
            padding: 2%;
            background-color: rgba(0, 0, 255, 0.189);
            border-radius: 20px;
        }
    a{
    color:rgba(0, 0, 255);
    }
    
    h1{
        font-size: 25px;
        margin-left: 8%;
    }
    h2{
        font-size: 18px;
        text-align: center;
        color: black;
        text-decoration: double;
    }
    h3 {
        font-size: 20px;
    }
    .allinea {
        /* float: left; */
        /* left:auto */
        position: absolute;
        width: 70px;
        height: auto;
        top: 1%;
        left: 1%;
    }
    .grid{margin-top:0px;}
    
    header{
        margin-top:3%;
    }
    .container {
        padding: 15px;
        max-width: 1300px;
        /* margin: 0 2%; */
        /* padding-top: 60px; */
        background: rgb(113,57,255);
        background: linear-gradient(360deg, rgba(113,57,255,1) 2%, rgba(0,212,255,0) 100%);
      border-radius:0px ;
        /* margin: auto; */
       
    }
    .wha {
        display: block;
    }
    .immagine{
    margin-top: 2%;
    display: flex;
    }
    .res {
        width:  20px;
        height: auto;
    }
    .foto{
        width: 50%;
        height: 50%;
        display:flex ;
        border-radius:15%; margin-top: 2px; margin-bottom: 20px; margin-left: 25%;
    }
}







/* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET *//* TABLET */
/* TABLET */
@media (min-width:768px) and (max-width:1023px) {
    h1 {
        color: red
    }
}

main {
    border-radius: 30px;
}

