body{background: #eee;font-family: Arial, Helvetica, sans-serif;
 width: 100%;
margin: 0px;}

h1{color: blue;text-align: center; font-size:45px;}

#menu-principale li {display: inline; margin: 20px;}
#menu-principale {text-align: center;}
#menu-principale li{ color:red;}
#menu-principale ul{padding: 0px; position: relative; bottom: 9px;}
.dimensione{width: 30px;}

.allinea {
    /* float: left; */
    /* left:auto */
    position: absolute;
    width:100px;
}

p{text-align: left;}

main{background: rgba(133, 133, 227, 0.577);text-align: center;}

footer{text-align: center;}

a{color: blue; text-decoration:none ;}

h2{padding-top: 3%; padding-left: 4%; text-align: left;}

h3{font-size: 40px;}

.grid{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
  
}

.col-33{
    border: 8px solid white;
    margin: 1%;
    background: (133, 133, 227, 0.577);
    width: 33%;
    padding: 9px;
    border-radius:20%;
    border-style: dotted;
}

@media (max-width: 768px){

    .col-33{
        border: 8px solid white;
        margin: 2%;
        background: (133, 133, 227, 0.577);
        width: 100%;
        border-radius:20%;
        border-style: dotted;
    }

    h3{font-size: 20px;}
}

@media (min-width:768px) and (max-width:1023px) {
    h1{color:red}
}


.res{
    width: 15%; height:auto;
}


